<ion-view hide-back-button="false" class="raflarim-detail-view">
	<ion-nav-title>
		<div class="navbar-title">Raflarım Detail</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios-plus-outline bookIcon" href="#/tab/raflarim/checkbox?id={{shelfid}}" style="background-color: Transparent;border: none;"></a>
		<a class="button button-icon icon ion-ios-minus-outline bookIcon" ng-click="data.showDelete = !data.showDelete;" style="background-color: Transparent;border: none;"></a>
	</ion-nav-buttons>

	<ion-content class="padding">
		<div class="row" id="count-order">
		</div>
		<ion-list show-delete="data.showDelete">
			<ion-item class="list card item-remove-animate" ng-repeat="shelfBook in shelfBooks" type="item-text-wrap" href="#/tab/kitaplarim/?a=detail&id={{shelfBook.id}}">
				<div class="item item-body">
					<img ng-src="{{shelfBook.img}}">
					<div class="bookInfoIndividual">{{shelfBook.name}}</div>
					<div class="bookInfoIndividual">{{shelfBook.publisher}}</div>
					<div class="bookInfoIndividual">{{shelfBook.author}}</div>
				</div>
				<ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(shelfBook); hideremoved(shelfBook);"></ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>