<ion-view hide-back-button="true" class="kategorilerim-view">
  <ion-nav-title>
    <div class="row">
      <a href="#/anasayfa"><img class="navbar-img" src="img/simplecloudlibrary.png" alt="Logo"/></a>
      <div class="navbar-title">Kategorilerim</div>
    </div>
  </ion-nav-title>
  <ion-content class="padding" style="margin-top: 15px;">
    <div class="list">

      <a class="item" id="a" href="#/tab/kategorilerim/borrowfrom/?a=getinfo&info=borrowfrom">
        <span><p>Ödünç Alınanlar</p></span>
      </a>
      <a class="item" id="b" href="#/tab/kategorilerim/lendto/?a=getinfo&info=lendto">
        <span><p>Ödünç Verilenler</p></span>
      </a>
      <a class="item" id="c" href="#/tab/kategorilerim/notes/?a=getinfo&info=notes">
        <span><p>Notlarım</p></span>
      </a>
      <a class="item" id="d" href="#/tab/kategorilerim/reading/?a=getinfo&info=reading">
        <span><p>Okuyorum</p></span>
      </a>
      <a class="item" id="e" href="#/tab/kategorilerim/willread/?a=getinfo&info=willread">
        <span><p>Okuyacaklarım</p></span>
      </a>
      <a class="item" id="f" href="#/tab/kategorilerim/read/?a=getinfo&info=read">
        <span><p>Okuduklarım</p></span>
      </a>
    </div>
  </div>
</ion-content>
</ion-view>