<ion-view hide-back-button="true" class="kategorilerim-view">
  <ion-nav-title>
    <div class="row">
      <a href="#/anasayfa"><img class="navbar-img" src="img/simplecloudlibrary.png" alt="Logo"/></a>
      <div class="navbar-title">Kitap Ekleme</div>
    </div>
  </ion-nav-title>
  <ion-content class="padding" style="margin-top: 15px;">
    <div class="list">

      <a class="item" id="b" href="#/tab/ekle/manual">
        <span><p>El ile Ekle</p></span>
      </a>
      <a class="item" id="d" href="#/tab/ekle/search">
        <span><p>Arama ile Ekle</p></span>
      </a>
      <a class="item" id="e" href="#/tab/ekle/isbn">
        <span><p>İsbn Numarası İle Ekle</p></span>
      </a>
    </div>
  </div>
</ion-content>
</ion-view>