<!--
  This template loads for the 'tab.book-detail' state (app.js)
  'bookdetail' is a $scope variable created in the BooksDetail controller (controllers.js)
  The BooksDetail pulls data from the Books service (service.js)
  The Books service returns an array of book data
-->

<ion-view class="tab-kitaplarim-detail-view" hide-back-button="false">
<ion-nav-title align-title="center">Bulut Kütüphanem</ion-nav-title>
  <ion-content class="padding">
    <div class="bookDetailHead">
      <div class="bookline">
        <div class="image">
          <img ng-src="{{bookdetail.img}}">
        </div>
        <div class="bookInfo">
          <div class="bookInfoIndividual">{{bookdetail.name}}</div>
          <div class="bookInfoIndividual">{{bookdetail.publisher}}</div>
          <div class="bookInfoIndividual">{{bookdetail.author}}</div>
          <select id="favorite" ng-model="myFavorite" ng-change="showSelectValue(myFavorite,myRate,myStatu)">
            <option value="1">&#9825</option>
            <option value="2">&#10084</option>
          </select>
          <select id="rating" ng-model="myRate" ng-change="showSelectValue(myFavorite,myRate,myStatu)">
            <option value="1">&#9733</option>
            <option value="2">&#9733&#9733</option>
            <option value="3">&#9733&#9733&#9733</option>
            <option value="4">&#9733&#9733&#9733&#9733</option>
            <option value="5">&#9733&#9733&#9733&#9733&#9733</option>
          </select>
        </div>
      </div>
    </div>
    <div class="bookDetailMid">
      <div class="row">
        <div class="firstMidElement">
          <a href="#/tab/kitaplarim/more/?a=moredetail&id={{cb_id}}">
            <i class="ion-information-circled">
              <br>Daha Fazla
            </i>
          </a>
        </div>
        <div class="secondMidElement">
          <i class="ion-android-share-alt">
            <br>Paylaş
          </i>
        </div>
      </div>
      <hr>

    </div>
    <div class="bookDetailBody">
      <div class="bookStatusClass">
        <select id="bookStatus" ng-model="myStatu" ng-change="showSelectValue(myFavorite,myRate,myStatu)">
          <option value="1">Okudum</option>
          <option value="2">Okuyorum</option>
          <option value="3">Okuyacağım</option>
        </select>
      </div>
      <span class="summaryHead"><h3>Kitabın Konusu</h3></span>
      <div class="summary">
        {{bookdetail.subtitle}}
      </div>
    </div>


  </ion-content>
</ion-view>