<ion-view hide-back-button="true" class="tab-kitaplarim-view" ng-init="showlist=true;">
  <ion-nav-title>
    <div class="row">
      <a href="#/anasayfa"><img class="navbar-img" src="img/simplecloudlibrary.png" alt="Logo"/></a>
      <div class="navbar-title">Kitaplarım</div>
      <button class="button button-clear icon ion-ios-search-strong search-btn" style="font-size:30px" ng-click="setDiagActive(showlist)"></button>
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete;"
      ></button>
    </div>
  </ion-nav-title>
  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()" pulling-text="Yenileniyor..."> </ion-refresher> 
    <div class="row" id="count-order">
      <button class="button button-icon ion-ios-book bookIcon"> {{books.length}}</button>

      <div class="advanceSearch" ng-show="!showlist" ng-hide="showlist" style="width: 45%; margin-left: auto;">

        <input type="text" placeholder="Ara" ng-model="search">

      </div>
      <button class="button button-icon ion-funnel sortIcon" ng-click="popover.show($event)"> Sırala</button>
    </div>
    <hr>
    <ion-list show-delete="data.showDelete">
    
      <ion-item ng-repeat="book in books |filter:search|orderBy:orderVal" class="list card item-remove-animate" type="item-text-wrap" href="#/tab/kitaplarim/?a=detail&id={{book.id}}">
        <div class="item item-body">
          <img ng-src="{{book.img}}">
          <div class="bookInfoIndividual">{{book.name}}</div>
          <div class="bookInfoIndividual">{{book.publisher}}</div>
          <div class="bookInfoIndividual">{{book.author}}</div>
        </div>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(book); hideremoved(book);"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="edit(book)">Düzenle</ion-option-button>
        <ion-option-button class="button-calm" ng-click="share(book)">Paylaş</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <script id="templates/books/tab-kitaplarim.html" type="text/ng-template">
    <ion-popover-view>
      <div class="list" ng-click="popover.hide()">
        <a class="item" ng-click="setorderVal('name')">
          İsim
        </a>
        <a class="item" ng-click="setorderVal('author')">
          Yazar
        </a>
        <a class="item" ng-click="setorderVal('publisher')">
          Yayın Evi
        </a>
        <a class="item" ng-click="setorderVal('-rate')">
          Derece
        </a>
        <a class="item" ng-click="setorderVal('-id')">
          Eklenme Sırası
        </a>

      </div>
    </ion-popover-view>
  </script>
</ion-view>