/*
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body{
	font-family: 'Gloria Hallelujah', cursive;
}	
*/


/* MainPage CSS */
.main-view{
	background-image: url('../img/bigcloudlibrary.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.main-view h1{
	font-size: 225%;
	text-align: center;
	color: #fff;
}
.main-view #buttons{
	text-align: center;	
}
.main-view .button{
	width: 60%;
	letter-spacing: .3em;
	background-color: white;
	color: #458f8e;
	border: 2px solid #64a784;
	font-size: 20px;
	position: absolute;
	bottom:3%;
	right:19%;
}
.main-view #loginButton {
	bottom:12%;
	width: 60%;
}

/* loginPage CSS */
.login-view #loginPageLogo{
	border-radius: 50%;
	width: 100%;
}
.login-view #userInfo{
	margin: 15% auto 0% auto ;
	width: 65%;
	border
}
.login-view #loginButton{
	margin: 5% auto 0% auto;
	width: 50%;
}

/*NavBar CSS*/
.bar-stable{
	height:60px;
}

.title.title-center.header-item{
	height: 100%;
	left:0 !important;
}
.row .navbar-img{
	border-radius: 50%;
	height: 50px;
	float: left;
}
.row .navbar-title{
	margin: auto; 
}

/*Anasayfa CSS*/
.anasayfa-view .eachcell {
	width: 100%;
	height: 50%;
	position: relative;
	display: -webkit-flex; /* Safari */	
	display: flex;
	flex:0.5;
}
.anasayfa-view .foto{
	width: 100%;
	flex:1;
}
.anasayfa-view img{
	width:100%;
	height: 111px;
	display: flex;
	flex:1;
}
.anasayfa-view .eachcell #bulutkütüphanemfont{
	top:20% !important;
}
.anasayfa-view .cell-title{
	position: absolute;
	top: 40%;
	left:7%;
	font-size: 200%;
	width: 100%;
	font-weight: bold;
	color: #fff;
}

/*tab-kitaplarim CSS*/
.tab-kitaplarim-view .row{
	margin-top: 15px;	
}
.tab-kitaplarim-view .ion-ios-search-strong{
	font-size: 300%;
}
.tab-kitaplarim-view .button{
	background-color: #fff;
}
.tab-kitaplarim-view .bookIcon{
	padding-left: 7%;
	font-size: 200%;
}
.tab-kitaplarim-view .sortIcon{
	margin:auto 7% auto auto ;
	font-size: 150%;
}
.tab-kitaplarim-view img{
	float:left;
	width: 35%;
}
.tab-kitaplarim-view .bookInfo{
	margin: 5% auto auto 40%;	
}
.tab-kitaplarim-view .bookInfoIndividual{
	white-space: pre-line;
	margin-top: 5%;
}
.tab-kitaplarim-view .icon{
	float: right;
}

/*tab-kitaplarim-detail CSS*/
.tab-kitaplarim-detail-view ion-content{
	margin: 5% auto auto auto;
}
.tab-kitaplarim-detail-view img{
	width: 45%;
	margin-right: 4%;
	margin-bottom: 4%;
	display: block;
	float: left;
}
.tab-kitaplarim-detail-view .bookInfo {
	margin: auto auto auto 45%;
}
.tab-kitaplarim-detail-view .bookInfo .row{
	margin-top: 0px;
	padding-top: 0px;
}
.tab-kitaplarim-detail-view .bookInfoIndividual{
	padding-top: 10%;
	font-size: 150%;
	white-space: pre-line;
}
.tab-kitaplarim-detail-view #favorite{
	margin-top: 5%;
	font-size: 150%;
	width:75%;
}
.tab-kitaplarim-detail-view #rating{
	margin-top: 5%;
	font-size: 150%;
	width:75%;
}
.tab-kitaplarim-detail-view .bookDetailHead{
	display: block;
}
.tab-kitaplarim-detail-view .firstMidElement{
	width: 50%; 
	margin: auto 3% auto 3%; 
	text-align: center;
}
.tab-kitaplarim-detail-view .firstMidElement a{
	color:#000; 
	text-decoration: none;
}
.tab-kitaplarim-detail-view .ion-information-circled{
	margin: 5% auto auto 5% ; 
	font-size: 200%;
}
.tab-kitaplarim-detail-view .secondMidElement{
	border-left: 2px solid #000;
	width: 50%; 
	text-align: center;
}
.tab-kitaplarim-detail-view .ion-android-share-alt{
	margin: 5% auto auto 5% ; 
	font-size: 200%;
}
.tab-kitaplarim-detail-view #bookStatus{
	margin-bottom: 5%;
	width: 100%;
	font-size: 150%;
}
.tab-kitaplarim-detail-view #bookStatus option{
	font-size: 75%;
}
.tab-kitaplarim-detail-view .summaryHead{
	text-align: center;
}
.tab-kitaplarim-detail-view .summary{
	font-family: none;
	font-size: 145%;
	word-spacing: 3px;
}

/*Kitaplarım More Detail CSS*/
.more-view{
	margin-top: 15px;
}
.more-view .firstItem{
	float: left;
}
.more-view .secondItem{
	float: right;
}

/*Profil CSS*/
.profil-view .profilHead{
	margin-top: 25px;
	margin-left: 15px;
}
.profil-view #profilPicture{
	width: 100%;
	border-radius:50%;
}
.profil-view #profilName{
	white-space: nowrap;
	margin: auto auto;
	font-weight: bold;
	font-size:200%;
	text-align:right;
}
.profil-view #bookNumber{
	white-space: nowrap; 
	margin: auto auto;
	border-left: 2px solid #000;
	font-size: 150%;
}
.profil-view .button-bar {
	padding: 3% 20% 1% 20%;
}
.profil-view .button.active{
	color: #fff;
	border: 2px solid #ff9900;
	background-color: #ff9900 !important;
}
.profil-view .panelBody{
	width: 100%;
	height: 100%;
}
.profil-view .statementHeader{
	text-align: center;
	font-size: 150%;
	margin-top: 7%;
}
.profil-view .statements{
	width: 63%;
	margin: 0 auto;
}
.profil-view #scrollX{
	height: 100%;
}
.profil-view .row>img{
	width: 100px;
	height: 200px;
	margin-left: 10px;
}
.profil-view .updateHeader{
	text-align: center;
	font-size: 150%;
	margin-top: 7%; 
}
.profil-view .list{
	width: 75%;
	margin:5% auto;
}
.profil-view #saveButton{
	background-color: #ffa319;
	color:#fff;
}