<ion-view hide-nav-bar="true" view-title="Anasayfa" class="anasayfa-view">
  <ion-content>
  <a href="">
      <div class="eachcell" id="logocell">
        <div class="foto">
          <img src="img/bulutkütüphanemeditlenmiş.png"/>
        </div>
        <div class="cell-title" id="bulutkütüphanemfont">Bulut<br><br>Kütüphanem</div>
      </div>
    </a>
    <a href="/#/tab/kitaplarim">
      <div class="eachcell" id="bookscell">
        <div class="foto">
          <img src="img/kitaplarim.png"/>
        </div>
        <div class="cell-title">Kitaplarım</div>
      </div>
    </a>
    <a href="/#/tab/kategorilerim">
      <div class="eachcell" id="categoriescell">
        <div class="foto" id="denemefoto1">
          <img src="img/kategorilerim.png"/>
        </div>
        <div class="cell-title">Kategorilerim</div>
      </div>
    </a>
    <a href="/#/tab/raflarim">
      <div class="eachcell" id="shelfscell">
        <div class="foto">
          <img src="img/raflarimmm.png"/>
        </div>
        <div class="cell-title">Raflarım </div>
      </div>
    </a>
    <a href="">
      <div class="eachcell" id="goalscell">
        <div class="foto">
          <img src="img/hedeflerimm.png"/>
        </div>
        <div class="cell-title">Hedeflerim</div>
      </div>
    </a>
    <a href="/#/tab/favorilerim">
      <div class="eachcell" id="favoritescell">
        <div class="foto">
          <img src="img/favorilerim.png"/>
        </div>
        <div class="cell-title">Favorilerim</div>
      </div>
    </a>
  </ion-content>
</ion-view>