<ion-view hide-back-button="true" class="tab-kitaplarim-view">
	<ion-nav-title>
		<div class="row">
			<a href="#/anasayfa"><img class="navbar-img" src="img/simplecloudlibrary.png" alt="Logo"/></a>
			<div class="navbar-title">Favorilerim</div>
		</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<i class="ion-ios-book bookIcon" style="margin-top: 20%;"> {{books.length}} </i>  
	</ion-nav-buttons>
	<ion-content class="padding">
		<ion-refresher on-refresh="doRefresh()" pulling-text="Yenileniyor..."> </ion-refresher> 
		<ion-item class="list card" ng-repeat="book in books" type="item-text-wrap" href="#/tab/kitaplarim/?a=detail&id={{book.id}}">
			<div class="item item-body">
				<img ng-src="{{book.img}}">
				<div class="bookInfoIndividual">{{book.name}}</div>
				<div class="bookInfoIndividual">{{book.publisher}}</div>
				<div class="bookInfoIndividual">{{book.author}}</div>
			</div>
		</ion-item>
	</ion-content>
</ion-view>