<ion-view hide-back-button="false" class="kategorilerim-view">
  <ion-nav-title>
    <div class="row">
      <a href="#/anasayfa"><img class="navbar-img" src="img/simplecloudlibrary.png" alt="Logo"/></a>
      <div class="navbar-title">Kategorilerim</div>
    </div>
  </ion-nav-title>
  <ion-content class="padding" style="margin-top: 15px;">
    <div class="list">

      <a class="item" id="a">
        <span><p>Alışveriş Listem</p></span>
      </a>
      <a class="item" id="b">
        <span><p>Ödünç Alınanlar</p></span>
      </a>
      <a class="item" id="c">
        <span><p>Ödünç Verilenler</p></span>
      </a>
      <a class="item" id="d">
        <span><p>Notlarım</p></span>
      </a>
      <a class="item" id="e">
        <span><p>Yıldızlananlar</p></span> 
      </a>
      <a class="item" id="a">
        <span><p>Okuyorum</p></span>
      </a>
      <a class="item" id="b">
        <span><p>Okuyacağım</p></span>
      </a>
    </div>
  </div>
</ion-content>
</ion-view>