<ion-view hide-back-button="false" class="raflarim-view">
  <ion-nav-title>
    <div class="row">
      <a href="#/anasayfa"><img class="navbar-img" src="img/simplecloudlibrary.png" alt="Logo"/></a>
      <div class="navbar-title">Raflarım</div>
    </div>
  </ion-nav-title>
  <ion-content class="padding">
    <div class="list">

      <a class="item genre" href="/#/tab/raflarim/detail/1">
        <span>Çocuk Kitapları</span>
      </a>
      <a class="item isbn" href="/#/tab/raflarim/detail/2">
        <span>Tarih Kitapları</span>
      </a>
      <a class="item" href="/#/tab/raflarim/detail/3">
        <span>İlham Verici Kitaplar</span>
      </a>
    </div>
  </div>
</ion-content>
</ion-view>