<ion-view hide-back-button="false" class="tab-kitaplarim-view">
  <ion-nav-title>
    <div class="row">
      <a href="#/anasayfa"><img class="navbar-img" src="img/bigcloudlibrary.png" alt="Logo"/></a>
      <div class="navbar-title">Kitaplarım</div>
      <i class="ion-ios-search-strong"></i>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row">
      <i class="ion-ios-book bookIcon"> 5</i>
      <i class="ion-funnel sortIcon">Sırala</i>
    </div>
    <hr>
    <ion-item class="list card" ng-repeat="book in books" type="item-text-wrap" href="#/tab/kitaplarim/{{book.id}}">
      <div class="item item-body">
        <img ng-src="{{book.img}}">
        <div class="bookInfo">
          <div class="bookInfoIndividual">{{book.name}}</div>
          <div class="bookInfoIndividual">{{book.publisher}}</div>
          <div class="bookInfoIndividual">{{book.author}}</div>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
</ion-view>