<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>  
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    
    <!-- Anasayfa Tab -->
    <ion-tab title="Anasayfa" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/?a=kitaplarim">
      <ion-nav-view name="tab-anasayfa"></ion-nav-view>
    </ion-tab>

    <!-- Ekle Tab -->
    <ion-tab title="Kitap Ekle" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/ekle">
      <ion-nav-view name="tab-ekle"></ion-nav-view>
    </ion-tab>

    <!-- Profil Tab -->
    <ion-tab title="Profil" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/tab/profil">
      <ion-nav-view name="tab-profil"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>